
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}

.radio-button__input {
    opacity: 0;
    position: absolute;
}

.radio-button__input:checked+.radio-button__controll:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #206a4e;
    border-radius: 12px;
}

.radio-button_input:checked+.radio-button_controll:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #ffffff !important;
    border-radius: 12px;
}

.radio-buttonPostFrom {
    cursor: pointer;
}

.radio-button__controll {
    position: relative !important;
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px !important;
    vertical-align: middle !important;
    background-color: inherit !important;
    color: #206a4e !important;
    border: 2px solid #666 !important;
    margin-top: -4px !important;
}

.radio-button__input:checked+.radio-button__controll {
    border-color: #206a4e;
}

.radio-button_input:checked+.radio-button_controll {
    border-color: #80f3c7 !important;
}

.radio-button__controll {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

.radio-button__label {
    margin-top: 5px !important;
    color: black !important;
}