
$rootBgColor: #fcf7f4;
// color variable

// $primaryColor: red;
// $ashColor: #aaaaaa;

$primaryParagraph: #87bfd0;
// $primaryParagraph: red;


// text color
$offWhite: #fcf7f4;
$primaryColor: #21263b;
$ashColor: #a0a4b4;
$pinkPrimary: #f6a877;
$darkAshColor: #f1f2f9;
$blackLight: #ebf2f7;

// 

$primaryGreen: #2b5764;
$primaryOrange: #fdb82a;
$pureWhite: #ffffff;
$primaryGrey: #a8b1b4;
$primaryYellow: #fdb82a;
$primaryGreyTwo: #b2c3cd;
$primaryGreyThree: #b8bdc1;
$paragraphColor: #002434;

$primaryGunmetal: #87bfd0;
$primaryBlack: #53585e;

$primaryLightGreyBlue: #ebf5f8;
$primaryGreenDeep: #2b5764;
$primaryGreenLight: #4dd965;
$primaryGreenLightTwo: #1be1b2;
$primaryYellow: #f3b72a;
$primaryRed: #ff525d;
$deepRed: #ffa9ac;

$primaryGreenLightLight: #d0dbe5;

