* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.rr-link {
  text-decoration: none;
  color: inherit;
}

.rr-link:hover {
  text-decoration: none;
  color: inherit;
}

.pointer {
  cursor: pointer;
}